<br> <br> <br><br>
<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">Location Edit</h5>
                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="LocationEditForm">
                            <div class="mb-3">
                                <label for="" class="form-label">District</label>
                                <select class="form-select" formControlName="districtid">
                                    <option selected value="">--select--</option>
                                    <option *ngFor="let data of DistrictdataArray" value="{{data.districtid}}">
                                        {{data.district}}
                                    </option>
                                </select>
                                <div
                                    *ngIf="LocationEditForm.controls['districtid'].invalid && (LocationEditForm.controls['districtid'].dirty || LocationEditForm.controls['districtid'].touched) || validationstatus">
                                    <div *ngIf="LocationEditForm.controls['districtid'].errors['required']"
                                        style="color: red;">
                                        please fill this</div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Location</label>
                                <input type="text" class="form-control" formControlName="locationname">
                                <input type="hidden" formControlName="locationid">
                                <div
                                    *ngIf="LocationEditForm.controls['locationname'].invalid && (LocationEditForm.controls['locationname'].dirty || LocationEditForm.controls['locationname'].touched) || validationstatus">
                                    <div *ngIf="LocationEditForm.controls['locationname'].errors['required']"
                                        style="color: red;">
                                        please fill this</div>
                                </div>

                            </div>
                            <button type="submit" class="btn btn-primary" (click)="OnSubmit()">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>