<br> <br> <br><br>
<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">Category Edit</h5>
                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="CategoryEditForm" enctype="multipart/form-data">
                            <input type="hidden" formControlName="categoryid">
                            <div class="mb-3">
                                <label class="form-label">Category</label>
                                <input type="text" class="form-control" formControlName="category">
                                <div
                                    *ngIf="CategoryEditForm.controls['category'].invalid && (CategoryEditForm.controls['category'].dirty || CategoryEditForm.controls['category'].touched) || validationstatus">
                                    <div *ngIf="CategoryEditForm.controls['category'].errors['required']"
                                        style="color: red;">
                                        please fill this</div>
                                </div>
                            </div>
                            <div class="mb-3" *ngFor="let data of categoryArray">
                                <label class="form-label">Category Image</label>
                                <br>
                                <img style="width: 180px; height: 140px;"
                                    src="http://localhost:3000/images/{{data.categoryimage}}" alt="...">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Change Image</label>
                                <input type="file" class="form-control" formControlName="categoryimage"
                                    (change)="selectFile($event)">
                                <div
                                    *ngIf="CategoryEditForm.controls['categoryimage'].invalid && (CategoryEditForm.controls['categoryimage'].dirty || CategoryEditForm.controls['categoryimage'].touched) || validationstatus">
                                    <div *ngIf="CategoryEditForm.controls['categoryimage'].errors['required']"
                                        style="color: red;">
                                        please fill this</div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary" (click)="OnSubmit()">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>