<!-- Banner Area Starts -->
<section class="banner-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 px-0">
                <div class="banner-bg"></div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="banner-text">
                    <h1>Post Your <span>WORK</span> with <br> comport</h1>
                    <p class="py-3">Effortless Project Management Starts Here.</p>
                    <a [routerLink]="['/clientmaster/workpost']" class="secondary-btn">post a work<span class="flaticon-next"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Area End -->

<!-- Overview area -->
<!-- <section class="feature-area section-padding2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-top text-center">
                    <h2>your recently posted works</h2>                    
                </div>
            </div>
            <div class="col-lg-4" *ngFor="let data of workDataArray">
                <div class="single-feature mb-4 mb-lg-0">
                    <h4>{{data.title}}</h4>
                    <p>posted on: {{data.postdate}}</p>
                    <p>Deadline: {{data.deadlinedate}}</p>
                    <a [routerLink]="['/clientmaster/workviewmore']" class="secondary-btn">view more<span class="flaticon-next"></span></a>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- Overview Area End -->
