<section class="">
    <div class="whole-wrap">
        <div class="container">
            <div class="section-top-border">
                <div class="col-lg-8 col-md-8 offset-lg-2 offset-md-2">
                    <h4>Remark</h4>                    
                    <form [formGroup]="rejectViewForm">
                        <div class="mt-10">
                            <textarea class="single-textarea shadow-sm" style="height: 240px;" 
                                formControlName="rejectreason"></textarea>                            
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>
