<section class="job-single-content section-padding">
    <div class="container">
        <div class="row">
            <h4>Job Information</h4>
            <div class="col-lg-8">
                <div class="main-content" *ngFor="let data of workDataArray">
                    <div class="single-content1">
                        <div class="single-job mb-4 d-lg-flex justify-content-between">
                            <div class="job-text">
                                <h4>{{data.title}}</h4>
                                <ul class="mt-4">
                                    <li class="mb-3">
                                        <h5><i class="fa fa-map-marker"></i> category: {{data.categoryname}}</h5>
                                    </li>
                                    <li class="mb-3">
                                        <h5><i class="fa fa-pie-chart"></i> sub-category: {{data.subcategory}}</h5>
                                    </li>
                                    <li>
                                        <h5><i class="fa fa-clock-o"></i> Deadline:
                                            {{data.deadlinedate|date:"dd-MM-yyyy"}}</h5>
                                    </li>
                                    <li>
                                        <h5><i class="fa fa-clock-o"></i> Posted on: {{data.postdate|date:"dd-MM-yyyy"}}
                                        </h5>
                                    </li>
                                    <li class="mb-3">
                                        <h5><i class="fa fa-map-marker"></i> Budget: {{data.cost}}</h5>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="single-content4 py-4">
                        <h4>job description</h4>
                        <p>{{data.description}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" *ngFor="let data of progressDataArray">
                <div class="typography">
                    <h4 class="typo-list">progress bar</h4>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" [style.width.%]="data.progress_percentage"
                        [style.background-color]="data.progress_percentage <= 35 ? 'orange' : (data.progress_percentage > 35 && data.progress_percentage <= 75 ? 'blue' : 'green')"
                        [attr.aria-valuenow]="data.progress_percentage" aria-valuemin="0" aria-valuemax="100">
                        {{data.progress_percentage}}
                    </div>
                </div>
                <br><br>
                <div class="typography">
                    <h4 class="typo-list">Current status</h4>
                    <p> {{data.progress_description}}</p>
                </div>
            </div>
        </div>
    </div>
</section>